<div class="section">
  <div class="columns is-mobile is-multiline">
    <div class="column is-half-tablet is-full-mobile">
      <div class="logo">
        <!-- logo image goes here -->
      </div><br><br>
    </div>
    <div class="column is-half-tablet is-full-mobile has-text-centered m-auto">
      <h1 class="title is-1">Gamified Personal Finance Tracker</h1>

      <p class="is-size-5 box">Welcome to Spendify! finances. It's a gamified version of a finance app. Your earnings, wisely managed.</p>
    </div>
  </div>
</div>